* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #36384D;
}
.inner {
  margin: 0 auto;
  width: 375px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}
.web-sec {
  display: none;
}